@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


#divHeader{
    position: fixed;
    background-color: tomato;
    height: auto;   
    overflow: hidden; 
    float: center;
    z-index: 6;
}

#divHeaderPhoto{
    float: left;
}

#divHeaderMenu{
    float: right;
    position: relative;
    right: 0x;
    top: 50px;
}

.aHeader{
    position: relative;
    margin-left: 20px;
    font-family: 'Muli', sans-serif;
    padding-left: 20px;
    text-decoration: none;
}

a:hover {
    transition: 0.5s;
    color: red;
}

#divView {
    width: 700px;
    height: 350px;
    margin: 0 auto ;
    margin-top:68px;
    overflow: hidden;
    position: relative;
}

#divView:hover{
    transition: 0.5s;
    opacity: 0.8;
    cursor: pointer;
}
#rightArrow {
    font-size: 3rem;
    background-color: grey;
    width: 50px;
    height: 50px;
    text-align: center;
    opacity: 0.5;
    position: absolute;
    right:0px;
    top: 175px;
    z-index: 2;
}
#leftArrow {
    font-size: 3rem;
    background-color: grey;
    width: 50px;
    height: 50px;
    text-align: center;
    opacity: 0.5;
    position: absolute;
    left:0px;
    top: 175px;
    z-index: 2;
}

#divTxtImg {
    position: absolute;
    z-index: 2;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#pTxt {
    color: white;
    opacity: 1;
    font-family: 'Quicksand', sans-serif;
    position: "relative";
    padding-left: 30px;
}

.rightImg {
    position: absolute;
    left: 1400px;
    top: 0px;
    float: left;
}

    
.leftImg {
    position: absolute;
    left: 0px;
    top: 0px;
    float: left;
}
.centerImg{
    position: absolute;
    left: 700px;
    top: 0px;
    float: left;
}

#divContainer {
    position: absolute; 
    width: 2100px;
    height: 350px;
    top: 50px;
    left: -700px;
    opacity: 0;
}

#divTxtInfo{
    width: 700PX;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
    position: relative;
    margin-top: 50px;
}

#divFooter{
    position: relative;
    bottom: 20px;
    width: 700px;
    font-family: 'Quicksand', sans-serif;
}

#divImgFooter{
    position: relative;
    top: 20px;
    float: left;
    margin-bottom: 20px;
}

#txtFooter {
    width: auto;
    overflow: hidden;
    float:left;
}

.footer {
    margin-bottom: 20px;
    float: left;
    margin-left: 20px;
}

#imgFooter {
    position: relative;
}

#divRightFooter{
    float: right;
    margin-right: 50px;
    color: gray;
}

.righttTxtFooter {
    padding-bottom: 20px;
    text-align: right;
}

#divWeb{
    width: 700px;
    margin: 0 auto;
}

#divContainer.open {
    transition: 5s;
    opacity: 1;
}


body {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  .menu {
    position: fixed;
    top: -5px;
    left: 20px;
    z-index: 11;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
  }
  .line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  
  #divMenuInfo {
    padding-top: 50px;
      transition: 0.5s;
      position: fixed;
      height: 100vh;
      width: 300px;
      background-color: blue;
      left: -300px;
      z-index: 10;
  }

  #divMenuInfo.opened {
    transition: 0.5s;
    left: 0px;
}


.aMenu {
    text-decoration: none;
    color: white;
    position: relative;
    display: block;
    margin-left: 25px;
    margin-top: 40px;
}

#dummy{
    position: relative;
    display: block;
    height: 250px;
    width: 700px;
}

#dummyHeader{
    position: fixed; 
    width:100%;
    top: 0px;
    height: 120px;
    z-index: 4;
    background-color: tomato;
}